:root{
  --primary:orange;
  

  
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
h2,h1,h3{
  text-align: center;
  text-transform:uppercase ;
  padding: 8px 5px;
  color:var(--primary);
  padding: 2rem;
  letter-spacing: 1.2px;
}

.flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.results{
  font-size: 1.5rem;
  letter-spacing: 1px;
  border:1px solid var(--primary);
  max-width: 80vw;
  padding: 2rem 4rem;
  margin: auto;
}

.grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 2rem;
  min-height: 200px;
  max-width: 80vw;
  margin: 3rem auto;
}
.text-container{
  border: 1px solid var(--primary);
  font-size: .8rem;
  padding: .3rem 1rem;
}
.timer-container{
  width:250px;
  margin: 20px auto;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6px 12px;
  border: 1px solid var(--primary);
  font-size: 2rem;
}
.timer-span-two-light{
  color:blueviolet;
  font-weight: 800;
}


.timer p{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap:2px;
  font-size: 1.5rem;
}
.timer-span-one{
  color:var(--primary);
  font-weight: bold;
}
.timer-span-two{
  font-weight: 800;
  color:#fff;
  font-size: 1.6rem;
}

.speed{
  width: 200px;
  font-size: 1rem;
  border-bottom: 1px solid orangered ;
  margin: auto;
  padding: 3px 8px;
  margin-bottom: 2rem;
}
.preview {
  padding: 3px 12px;
  font-size:1.3rem; 
  
}
textarea{
  font-size: 1.5rem;
  padding: 5px 10px;
  color: purple;
}

.flex-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.dark{
  background: #3E128A;
  background: -webkit-linear-gradient(top left, #3E128A, #1D2D2D);
  background: -moz-linear-gradient(top left, #3E128A, #1D2D2D);
  background: linear-gradient(to bottom right, #3E128A, #1D2D2D); 
  color:#fff;
}
 .light{
  background:lightpurple;
 }




.result-container{
margin: 3rem auto;
}
.linegraph{
  position: relative;
  width: 50vw;
  height: 60vh; 
  margin: auto;


}

/**buttons**/
.btn-group{
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 60vw;
  margin: auto;
}
.btn-group button {
  display: block;
  background: #55BDBF;
  background: -webkit-linear-gradient(bottom left, orange, #5048D5);
  background: -moz-linear-gradient(bottom left,orange, #5048D5);
  background: linear-gradient(to top right,orange, #5048D5);
  margin-top: 3rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color:#fff; 
  padding: 1em 3.5em; 
  cursor: pointer; 
  border-radius: 10em;
  border: none;
  display: grid;
  place-items: center;
}
  
  

.btn-group button:hover {
  background:rgb(55, 0, 128);
  color: #fff;
}
.btn{
  display: block;
  margin:2.5rem auto;
  display: grid;
  place-items: center;
  font-size: 1rem;
  padding: 1em 2em;
  border-radius: 10em;
  background: #1F24D0;
background: -webkit-linear-gradient(top right, #1F24D0, #EC420A);
background: -moz-linear-gradient(top right, #1F24D0, #EC420A);
background: linear-gradient(to bottom left, #1F24D0, #EC420A);
  border: none;
  color: #fff;
  text-transform: uppercase;
  
}
.btn:hover{
  background:orange;
}

@media screen and (max-width: 750px) {
  .btn-group{
    flex-direction: column;
  }
  .btn-group button{
    margin-bottom: 3em;
    font-size: .8rem;
    padding: .5em 2em;
  }
  .results{
    flex-direction: column;
  }
  .grid{
    display: flex;
    flex-direction: column;
  }
    
  
}




